html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0
}

.home-bg {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-image: url('./assets/images/login-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.brand {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  margin-bottom: 1rem;
}

.logo {
  height: 3.2rem;
  width: 2.8rem;
  margin-right: .5rem;
}

.app-bar {
  height: 70px;
  width: 100vw;
  background-color: #dde8f2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  display: flex;
}