html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0
}

.home-bg {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-image: url('./assets/images/login-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.brand {
  display: flex;
  padding: .5rem 1rem .5rem .5rem;
}

.logo {
  height: 3.2rem;
  width: 2.8rem;
  margin-right: .5rem;
}